
body {
    font-family: sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #333;
}
h1, h2 {
    color: #006400;
}
input, select, textarea {
    display: block;
    margin: 5px 0 15px;
    padding: 8px;
    width: 300px;
}
textarea {
    height: 80px;
}
button {
    margin: 10px 10px 20px 0;
    padding: 10px 20px;
}
